.legend {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
h2, span {
  font-family: "Open Sans", sans-serif;
  color: white;
}

.legend > div {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Roboto', sans-serif;
}



.form-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

mat-hint{
  color: white;
}

.point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid white;
}

.minor {
  background-color: #00FF00;
}

.light {
  background-color: #FFFF00;
}

.moderate {
  background-color: #FFA500;
}

.strong {
  background-color: #FF4500;
}

.severe {
  background-color: #8B0000;
}
